<configuration>
    <dllmap dll="vulkan" version="1.2.131" os="osx" arch="x64" target="libvulkan-1.0.0.dylib"/>
    <dllmap dll="vulkan" version="1.2.131" os="linux" arch="x64" target="libvulkan.so.1"/>
    <dllmap dll="vulkan" version="1.2.131" os="windows" arch="x64" target="vulkan-1.dll"/>

    <dllmap dll="glfw" version="3.3" os="osx" arch="x64" target="libglfw.3.dylib"/>
    <dllmap dll="glfw" version="3.3" os="linux" arch="x64" target="libglfw.so.3"/>
    <dllmap dll="glfw" version="3.3" os="windows" arch="x64" target="glfw3.dll"/>
    <dllmap dll="glfw" version="3.3" os="windows" arch="x86" target="glfw3.dll"/>
</configuration>
